include header
 - var recordId = 0;
div(class='container container_create-lists')
    div(class='lists' style=`background-color: ${lists.color}`)
        div(class='lists__title')
            span(class='lists__title-label')= 'Title:'
            span(class='contenteditable lists__title-content' contenteditable="false")= lists.title
        div(class='contenteditable lists__content')
            each item in foo= lists.itemsList
                if !item.isDone
                    div(class='custom-control custom-checkbox lists__field')
                        input(type="checkbox" onclick="return false" class="custom-control-input" id=`"defaultUnchecked${recordId}"` checked=item.isDone)
                        label(class="custom-control-label label" for=`"defaultUnchecked${recordId++}"`)
                        span(class="lists__checkbox-text")= item.name

        div(class='contenteditable lists__content-done')
            each item in foo= lists.itemsList
                if item.isDone
                    div(class='custom-control custom-checkbox lists__field')
                        input(type="checkbox" onclick="return false" class="custom-control-input" id=`"defaultUnchecked${recordId}"` checked=item.isDone)
                        label(class="custom-control-label label" for=`"defaultUnchecked${recordId++}"`)
                        span(class="lists__checkbox-text")= item.name

        div(class='btn-block')
            a(class='btn btn-warning' href='/')= 'Back'
            div(class='btn btn-info btn_edit')= 'Edit'
            div(class='dropup')
                button(type='button' class='btn btn-light dropdown-toggle' data-toggle="dropdown")= 'Color'
                div(class='dropdown-menu dropdown-menu_edit')
                    p(class=' choose-color color-reef')
                    p(class=' choose-color color-mauve')
                    p(class=' choose-color color-yellow')
                    p(class=' choose-color color-cinnabar')
                    p(class=' choose-color color-white')
            div(class='btn  btn-danger btn_trash')= 'Delete'
                span(class="spinner-border spinner-border-sm")

include popup
include list-scripts

