include header

div(class='container container_create-notes')
    div(class='notes' style=`background-color: ${notes.color}`)
        div(class='notes__title')
            span(class='notes__title-label')= 'Title:'
            span(class='contenteditable notes__title-content' contenteditable="false")= notes.title ? notes.title : ''
        div(class='contenteditable notes__content' contenteditable="false")
            if notes.description
                each item in foo= notes.description
                    div(class='notes__field')= item

        div(class='btn-block')
            //a(class='btn fas fa-long-arrow-alt-left' href='/')
            a(class='btn btn-warning' href='/')= 'Back'
            div(class='btn btn-info btn_edit')= 'Edit'
            div(class='dropup')
                button(type='button' class='btn btn-light dropdown-toggle' data-toggle="dropdown")= 'Color'
                div(class='dropdown-menu dropdown-menu_edit')
                    p(class=' choose-color color-reef')
                    p(class=' choose-color color-mauve')
                    p(class=' choose-color color-yellow')
                    p(class=' choose-color color-cinnabar')
                    p(class=' choose-color color-white')
            div(class='btn  btn-danger btn_trash')= 'Delete'
                span(class="spinner-border spinner-border-sm")

include popup
include scripts

//TODO: auto field length
//TODO: title single field